
.row
  .gutter-02
.row
  .gutter-02
    .col-12
      .sherpa-box{:style => "width:1588px; height:43px; line-height:43px;"} Branding
.row
  .gutter-02
    .col-12
      .sherpa-box{:style => "width:1588px; height:75px; line-height:75px;"} RSS/Twitter Ticker
.row
  .gutter-02
    .col-04
      .sherpa-box{:style => "width:524px; height:500px; line-height:525px;"} GitHub
    .col-04
      .sherpa-box{:style => "width:524px; height:500px; line-height:525px;"} RPM
    .col-04
      .sherpa-box{:style => "width:524px; height:500px; line-height:525px;"} Tracker
.row
  .gutter-02
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder
