
.row
  .gutter-02
.row{:id => "branding"}
  .gutter-02
    .col-12
      .sherpa-box{:style => "width:1588px; height:43px; line-height:43px;"} Branding
.row{:id => "ticker"}
  .gutter-02
    .col-12
      .inner-box 
        %img{:src => 'http://a1.twimg.com/profile_images/97754698/maiden-big.jpg', :alt => 'gravatar'}/
        %h2 This is a one hundred and forty characters. It should stretch the entire width of this thing and when it's compacted it should change size..
.row{:id => "status"}
  .gutter-02
    .col-04
      .title-bar
        %h2 GitHub
        %img{:src => 'http://a1.twimg.com/profile_images/97754698/maiden-big.jpg', :alt => 'gravatar'}/
      .contents
    .col-04
      .title-bar
        %h2 RPM
        %img{:src => 'http://a1.twimg.com/profile_images/97754698/maiden-big.jpg', :alt => 'gravatar'}/
      .contents
    .col-04
      .title-bar
        %h2 Pivotal Tracker
        %img{:src => 'http://a1.twimg.com/profile_images/97754698/maiden-big.jpg', :alt => 'gravatar'}/
      .contents
.row
  .gutter-02
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder
    .col-02
      .sherpa-box{:style => "width:258px; height:225px; line-height:225px;"} Placeholder

