
$fdl_primary_color: #F36B22;

// general.scss
$general_color: #CCC;
$general_background: transparent;
$general_body_background: #111;
$general_link_active: #999;
$general_link_hover: $fdl_primary_color;
$general_link_tap: $fdl_primary_color;
$general_header_color: #FFF;
$general_header_link_hover: $fdl_primary_color;
$general_accent: $fdl_primary_color;
$general_blockquote: #FFF;
$general_dt: #333;
$general_hr: #333;
$general_input_highlight: $fdl_primary_color;
$general_selection_bg: $fdl_primary_color;
$general_selection_fg: #FFF;
$general_sherpa_bg: #555;
$general_sherpa_align: center;
$general_sherpa_color: #999;
$corner-radius: 8px;

// elements
$outer_container_bg: #222;
$outer_container_border: 1px solid #333;
$outer_container_shadow: 2px 2px 4px #000;
$inner_container_bg: #111;
$inner_container_border: 1px solid #333;
$dot_normal: #000;
$dot_active: #333;
$title_bg: -webkit-linear-gradient(#222, #111);
$title_border: 1px solid #000;
$ul_border: 1px solid #333;
$feed_divider: 1px solid #666;
$feed_author_color: #666;
$passing_color: #96FF32;
$building_color: #FFCD00;
$failing_color: #FF0000;
$desc_title_color: #666;
